<div class="dropdown d-flex align-items-end flex-column" style="padding-right: 25px;" th:fragment="language">
	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
		style="text-decoration: none;">
		<i class="fi-gb" style="width: 18px;height: 10px;margin-right: 10px;display: inline-block;"></i>English
	</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#"><i class="fi-gb"
					style="width: 18px;height: 10px;margin-right: 10px;display: inline-block;"></i>English</a></li>
		<li><a class="dropdown-item" href="#"><i class="fi-ua"
					style="width: 18px;height: 10px;margin-right: 10px;display: inline-block;"></i>Ukrainian</a></li>
	</ul>
</div>