<div class="dropdown d-flex align-items-end flex-column" style="padding-right: 25px;" th:fragment="language">
	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
		style="text-decoration: none;" th:if="${language == null || language == 'en'}">
		<i class="fi-gb" style="width: 18px;height: 14px;margin-right: 10px;display: inline-block;"></i><span
			th:text="#{web.language.english}">English</span>
	</a>
	<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
		style="text-decoration: none;" th:if="${language != null && language == 'uk'}">
		<i class="fi-ua" style="width: 18px;height: 14px;margin-right: 10px;display: inline-block;"></i><span
			th:text="#{web.language.ukrainian}">Українська</span>
	</a>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="/setLocale?lang=en"><i class="fi-gb"
					style="width: 18px;height: 14px;margin-right: 10px;display: inline-block;"></i> <span
					th:text="#{web.language.english}">English</span></a></li>
		<li><a class="dropdown-item" href="/setLocale?lang=uk"><i class="fi-ua"
					style="width: 18px;height: 14px;margin-right: 10px;display: inline-block;"></i><span
					th:text="#{web.language.ukrainian}">Українська</span></a></li>
	</ul>
</div>