<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" th:fragment="sidebar">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
		<img th:src="@{/images/logo.jpg}" alt="" style="width:50px;height:50px;">
		<span class="fs-4" th:text="#{web.sidebar.action}" style="margin-left: 10px;">Action</span>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a href="/settings" class="nav-link active" aria-current="page">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/settings"></use>
				</svg>
				<span th:text="#{web.sidebar.settings}">Settings</span>
			</a>
		</li>
		<li>
			<a href="/ping" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/ping"></use>
				</svg>
				<span th:text="#{web.sidebar.ping}">Ping</span>
			</a>
		</li>
		<li>
			<a href="/scanFile" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/scan"></use>
				</svg>
				<span th:text="#{web.sidebar.scan.file}">Scan File</span>
			</a>
		</li>
		<li>
			<a href="/scanFolder" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/scan"></use>
				</svg>
				<span th:text="#{web.sidebar.scan.folder}">Scan Folder</span>
			</a>
		</li>
		<li>
			<a href="/version" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/version"></use>
				</svg>
				<span th:text="#{web.sidebar.version}">Version</span>
			</a>
		</li>
		<li>
			<a href="/stats" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/stats"></use>
				</svg>
				<span th:text="#{web.sidebar.stats}">Stats</span>
			</a>
		</li>
		<li>
			<a href="/reload" class="nav-link">
				<svg class="bi me-2" width="16" height="16">
					<use xlink:href="/reload"></use>
				</svg>
				<span th:text="#{web.sidebar.reload.databases}">Reload databases</span>
			</a>
		</li>
	</ul>
	<hr>
</div>