<!DOCTYPE html>
<html>

<head th:replace="~{fragments/header :: head}"></head>

<body>
	<div class="container" style="margin-left: 10px;">
		<div class="row text-center">
			<span class="fs-1" th:text="#{web.main.clamav.ui.client}">ClamAV Web UI Client</span>
		</div>
		<div class="row align-items-end">
			<div th:replace="~{fragments/language :: language}"></div>
		</div>
		<div class="row align-items-start">
			<div class="col" style="max-width: 300px;">
				<div th:replace="~{fragments/sidebar :: sidebar}"></div>
			</div>
			<div class="col">
				<span th:if="${action == null || action != 'settings'}">
					<div th:replace="~{fragments/result :: result}"></div>
				</span>
				<span th:if="${action != null && action == 'settings'}">
					<div th:replace="~{fragments/settings :: settings}"></div>
				</span>
			</div>
		</div>
		<div class="row text-center">
			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>
</body>

<script th:inline="javascript">
	updateNavItems();
	addFormEventListener('upgradeForm', 'waitingUpgrade', 'upgradeFormButton');
	addFormEventListener('uploadForm', 'waitingUploadFile', 'uploadFormButton');
	addFormEventListener('scanFolderForm', 'waitingFolderScan', 'scanFolderFormButton');
</script>

</html>